#entete{
    display: flex;
    justify-content: space-between;
     padding-top: 20px;
     padding-left: 40px;
     padding-right: 10px;
}
#liens{
    display: flex;
    gap:20px;
}
#info{
    display: flex;
     padding-top: 20px;
     padding-left: 40px;
}
img{
    width: 150px;
    height: 150px;
    padding-right: 10px;
}
#heromain{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
   
}
#logo{
    font-size: 24px;
    color: #f9faf9;
   
}
#div1{background-color: #1f2937;}

#sec,#liens{font-size: 18px;color: #e5e7eb;}
#pic{display: flex;
    justify-content:center;
    align-items: center;
    width: 500px;
    margin-left: 250px;
}
#button1{
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-color: hotpink;
    font-size: 18px;

    margin-bottom: 10px;
    

}
a{
    text-decoration: none;
    color: white;
}
#liens a:hover {
    text-decoration: underline;
}
#ta9simet{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px;

    
}
.box{
    border-radius: 8px;
    width: 100px;
    height: 100px;
    border: solid;
    color:#3882f6;
    text-align: center;
    margin-left: 0%;
}
#titre{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.cmntr{
    text-align: center;
}
.element{
    
    width: 100px;
}
#div3{
    background-color:rgb(182, 175, 175) ;

}
#quote{
    font-size: 24px;
    color: #1f2937;
    font-style: italic;
     font-weight: 300; 
     padding: 40px;

}
#acteur{
    font-weight: bold;
    font-size: 18px;
    text-align: end;
    padding: 70px;
}
#poeme{
    margin-left: 200px;
    margin-right: 200px;
}
#notification{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #3882f6;
}
#b2{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: solid;
    margin-top: 20px;
    border-color: #f9faf8;
    background-color: #3882f6;
    font-size: 16px;
    color: white;
}

#buutt{
    margin-left: 300px;
}
#text p {
    font-size: 18px;
    color: #f9faf8;
    text-align: left;
    
}
#footer
{
    background-color: gray;
   height: 40px;
  
}
#footer p{
    text-align: center;
}


